/* grin */
.diversityEmojiItemImage-1pfGqI[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.image-3tDi44[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .image-3tDi44[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.emoji-4YP39J[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .emoji-4YP39J[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.emojiImage-1mTIfi[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.image-2c9fiD[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .image-2c9fiD[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.icon-Yl4xbA[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.emoji-1kNQp2[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.roleIcon-3-WL_I[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'], 
.emoji[src='/assets/ab226fe832acc948e9f974decd04a4f0.svg'], .emoji[style*='background-image: url("/assets/ab226fe832acc948e9f974decd04a4f0.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/yRSPnyQ/smile-3.png") !important;
}

/* laughing */
.diversityEmojiItemImage-1pfGqI[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.image-3tDi44[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .image-3tDi44[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.emoji-4YP39J[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .emoji-4YP39J[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.emojiImage-1mTIfi[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.image-2c9fiD[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .image-2c9fiD[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.icon-Yl4xbA[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.emoji-1kNQp2[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.roleIcon-3-WL_I[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'], 
.emoji[src='/assets/cb91d362742dcc886e4a4c3f981f3365.svg'], .emoji[style*='background-image: url("/assets/cb91d362742dcc886e4a4c3f981f3365.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/NNMYRZF/smile-2.png") !important;
}

/* joy */
.diversityEmojiItemImage-1pfGqI[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.image-3tDi44[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .image-3tDi44[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.emoji-4YP39J[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .emoji-4YP39J[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.emojiImage-1mTIfi[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.image-2c9fiD[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .image-2c9fiD[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.icon-Yl4xbA[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.emoji-1kNQp2[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.roleIcon-3-WL_I[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'], 
.emoji[src='/assets/6201503f3aa918470a2190b36d1e196f.svg'], .emoji[style*='background-image: url("/assets/6201503f3aa918470a2190b36d1e196f.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/qxMHLtx/smile-4.png") !important;
}

/* heart_eyes */
.diversityEmojiItemImage-1pfGqI[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.image-3tDi44[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .image-3tDi44[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.emoji-4YP39J[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .emoji-4YP39J[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.emojiImage-1mTIfi[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.image-2c9fiD[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .image-2c9fiD[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.icon-Yl4xbA[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.emoji-1kNQp2[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.roleIcon-3-WL_I[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'], 
.emoji[src='/assets/e55f552bd0b1cf368b466422408c8401.svg'], .emoji[style*='background-image: url("/assets/e55f552bd0b1cf368b466422408c8401.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/j5ZBcCb/smile-14.png") !important;
}

/* stuck_out_tongue */
.diversityEmojiItemImage-1pfGqI[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.image-3tDi44[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .image-3tDi44[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.emoji-4YP39J[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .emoji-4YP39J[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.emojiImage-1mTIfi[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.image-2c9fiD[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .image-2c9fiD[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.icon-Yl4xbA[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.emoji-1kNQp2[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.roleIcon-3-WL_I[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'], 
.emoji[src='/assets/10f25947b6687b5b103e131ca82826ab.svg'], .emoji[style*='background-image: url("/assets/10f25947b6687b5b103e131ca82826ab.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/Q8rLX49/smile-10.png") !important;
}

/* stuck_out_tongue_winking_eye */
.diversityEmojiItemImage-1pfGqI[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.image-3tDi44[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .image-3tDi44[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.emoji-4YP39J[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .emoji-4YP39J[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.emojiImage-1mTIfi[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.image-2c9fiD[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .image-2c9fiD[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.icon-Yl4xbA[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.emoji-1kNQp2[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.roleIcon-3-WL_I[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'], 
.emoji[src='/assets/c9030d84bb2453fbba42c7c1896dbde8.svg'], .emoji[style*='background-image: url("/assets/c9030d84bb2453fbba42c7c1896dbde8.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/MyzxSQT/smile-18.png") !important;
}

/* star_struck */
.diversityEmojiItemImage-1pfGqI[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.image-3tDi44[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .image-3tDi44[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.emoji-4YP39J[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .emoji-4YP39J[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.emojiImage-1mTIfi[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.image-2c9fiD[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .image-2c9fiD[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.icon-Yl4xbA[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.emoji-1kNQp2[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.roleIcon-3-WL_I[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'], 
.emoji[src='/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg'], .emoji[style*='background-image: url("/assets/ffa92fc2c8f0a781d5ae9ffbecefa054.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/3FxX7mp/smile-15.png") !important;
}

/* unamused */
.diversityEmojiItemImage-1pfGqI[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.image-3tDi44[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .image-3tDi44[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.emoji-4YP39J[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .emoji-4YP39J[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.emojiImage-1mTIfi[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.image-2c9fiD[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .image-2c9fiD[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.icon-Yl4xbA[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.emoji-1kNQp2[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.roleIcon-3-WL_I[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'], 
.emoji[src='/assets/19581aca5d78feac3a180971f24d399b.svg'], .emoji[style*='background-image: url("/assets/19581aca5d78feac3a180971f24d399b.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/Y04bPjs/smile-16.png") !important;
}

/* rage */
.diversityEmojiItemImage-1pfGqI[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.image-3tDi44[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .image-3tDi44[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.emoji-4YP39J[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .emoji-4YP39J[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.emojiImage-1mTIfi[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.image-2c9fiD[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .image-2c9fiD[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.icon-Yl4xbA[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.emoji-1kNQp2[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.roleIcon-3-WL_I[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'], 
.emoji[src='/assets/3f4e3f10b0a177426ca14b381445ca3b.svg'], .emoji[style*='background-image: url("/assets/3f4e3f10b0a177426ca14b381445ca3b.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/RDK0hmB/smile-7.png") !important;
}

/* cold_sweat */
.diversityEmojiItemImage-1pfGqI[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.image-3tDi44[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .image-3tDi44[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.emoji-4YP39J[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .emoji-4YP39J[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.emojiImage-1mTIfi[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.image-2c9fiD[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .image-2c9fiD[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.icon-Yl4xbA[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.emoji-1kNQp2[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.roleIcon-3-WL_I[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'], 
.emoji[src='/assets/b6e59899d18889c76321b4cb546b30b9.svg'], .emoji[style*='background-image: url("/assets/b6e59899d18889c76321b4cb546b30b9.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/VQjkHSj/smile-17.png") !important;
}

/* hugging */
.diversityEmojiItemImage-1pfGqI[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.image-3tDi44[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .image-3tDi44[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.emoji-4YP39J[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .emoji-4YP39J[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.emojiImage-1mTIfi[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.image-2c9fiD[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .image-2c9fiD[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.icon-Yl4xbA[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.emoji-1kNQp2[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.roleIcon-3-WL_I[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'], 
.emoji[src='/assets/aeb86343db64360cf19cd66eae4eb792.svg'], .emoji[style*='background-image: url("/assets/aeb86343db64360cf19cd66eae4eb792.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/Xxtb3GS/smile-13.png") !important;
}

/* thinking */
.diversityEmojiItemImage-1pfGqI[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.image-3tDi44[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .image-3tDi44[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.emoji-4YP39J[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .emoji-4YP39J[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.emojiImage-1mTIfi[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.image-2c9fiD[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .image-2c9fiD[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.icon-Yl4xbA[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.emoji-1kNQp2[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.roleIcon-3-WL_I[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'], 
.emoji[src='/assets/263a7f4eeb6f69e46d969fa479188592.svg'], .emoji[style*='background-image: url("/assets/263a7f4eeb6f69e46d969fa479188592.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/ZhWgYj0/smile-9.png") !important;
}

/* face_with_hand_over_mouth */
.diversityEmojiItemImage-1pfGqI[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.image-3tDi44[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .image-3tDi44[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.emoji-4YP39J[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .emoji-4YP39J[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.emojiImage-1mTIfi[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.image-2c9fiD[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .image-2c9fiD[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.icon-Yl4xbA[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.emoji-1kNQp2[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.roleIcon-3-WL_I[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'], 
.emoji[src='/assets/6ba3855f5ea79b9b014e66b28c54429c.svg'], .emoji[style*='background-image: url("/assets/6ba3855f5ea79b9b014e66b28c54429c.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/bN4VXj3/smile-11.png") !important;
}

/* face_with_open_eyes_and_hand_over_mouth */
.diversityEmojiItemImage-1pfGqI[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.image-3tDi44[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .image-3tDi44[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.emoji-4YP39J[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .emoji-4YP39J[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.emojiImage-1mTIfi[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.image-2c9fiD[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .image-2c9fiD[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.icon-Yl4xbA[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.emoji-1kNQp2[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.roleIcon-3-WL_I[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'], 
.emoji[src='/assets/1dd7a811b3c7640a8a8775921e56446a.svg'], .emoji[style*='background-image: url("/assets/1dd7a811b3c7640a8a8775921e56446a.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/ZmpD4x5/smile-8.png") !important;
}

/* shushing_face */
.diversityEmojiItemImage-1pfGqI[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.image-3tDi44[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .image-3tDi44[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.emoji-4YP39J[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .emoji-4YP39J[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.emojiImage-1mTIfi[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.image-2c9fiD[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .image-2c9fiD[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.icon-Yl4xbA[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.emoji-1kNQp2[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.roleIcon-3-WL_I[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'], 
.emoji[src='/assets/acb7b1a237378bbddd34927b4001b8f4.svg'], .emoji[style*='background-image: url("/assets/acb7b1a237378bbddd34927b4001b8f4.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/XY49f9Q/smile-5.png") !important;
}

/* love_you_gesture */
.diversityEmojiItemImage-1pfGqI[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.image-3tDi44[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .image-3tDi44[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.emoji-4YP39J[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .emoji-4YP39J[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.emojiImage-1mTIfi[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.image-2c9fiD[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .image-2c9fiD[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.icon-Yl4xbA[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.emoji-1kNQp2[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.roleIcon-3-WL_I[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'], 
.emoji[src='/assets/3dc67b93bfac1fa91815569ffd22a874.svg'], .emoji[style*='background-image: url("/assets/3dc67b93bfac1fa91815569ffd22a874.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/k45d8JQ/smile-12.png") !important;
}

/* lips */
.diversityEmojiItemImage-1pfGqI[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .diversityEmojiItemImage-1pfGqI[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.image-3tDi44[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .image-3tDi44[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.emoji-4YP39J[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .emoji-4YP39J[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.emojiImage-1mTIfi[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .emojiImage-1mTIfi[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.image-2c9fiD[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .image-2c9fiD[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.icon-Yl4xbA[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .icon-Yl4xbA[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.emoji-1kNQp2[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .emoji-1kNQp2[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.roleIcon-3-WL_I[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .roleIcon-3-WL_I[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'], 
.emoji[src='/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg'], .emoji[style*='background-image: url("/assets/c1aac731a5d5bab09fc7d177fadc5eef.svg")'] {
	background: transparent !important;
	content: url("https://i.ibb.co/M8FTJ8Z/smile-6.png") !important;
}